{% extends 'base.html'%}
{% block title %}About{% endblock title %}

{% block body %}

<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/static/img/3.jfif" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>WE ARE THE ICE-CREAM SHOP</h5>
        <p>Thank you for showing interest in us. We are happy to serve you.</p>
      </div>
    </div>
  </div>
</div>
<h2 class ='text-center my-4 pb-2'> ABOUT US </h2>

<div class="card  text-center mb-4 mx-4 mx-auto " style="width: 55rem;
background-color: #94ba8182; height: 8rem;">
  <div class="card-body">
    <h5 class="card-title">ORIGIN</h5>
    <p class="card-text">Originated from the depths of the Himalayas, we bring to you the worlds finest Ice-cream.
    Founded in 2021 with a motive to serve people the real experiance.</p>
  </div>
</div>

<div class="card mb-4 mx-4 mx-auto " style="width: 20rem;
background-color: #01b9ff80; height: 8rem;">
  <div class="card-body">
    <h5 class="card-title">ADDRESS</h5>
    <p class="card-text">ESTANCIA TOWNSHIP <BR/> POTHERI<BR/> CHENNAI  </p>
  </div>
</div>


{% endblock body %}